<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="partyName">Party Name</label>
    <input type="text" class="form-control" id="partyName" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone number</label>
    <input type="text" class="form-control" id="phoneNumber" placeholder="Phone">
  </div>
  <div class="form-group">
    <label class="sr-only" for="sizeOfParty">Size of party</label>
    <input type="text" class="form-control" id="sizeOfParty" placeholder="Size of party">
  </div>
  <button type="submit" class="btn btn-default">Add party</button>
</form>